.grid-stack {
  /*
    background-image: linear-gradient(#e0e0e0 1px, transparent 1px), linear-gradient(90deg, #e0e0e0 1px, transparent 0px),
      linear-gradient(transparent 5px, transparent 100px),
      linear-gradient(90deg, transparent 5px, transparent 100px);
    background-size: 100px 48px, calc(8.33% + 0px) 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -0.5px -2px, -0.5px -0.5px, -0.5px -0.5px;
    */
    background: gray;
  }
  
  .grid-stack-item {
    background-color: blue;
  }
  
  .grid-stack-item-content {
    background-color: yellow;
  }
  
  .grid-stack-sub-grid {
    border: 1px solid #a7bb24;
    background-color: red;
  }
  
  .grid-stack-nested {
    background-color: turquoise;
  }
  /*
  .component {
    width: 50px !important;
    height: 50px !important;
  }
  */
  